.odd {
    background-color: pink;
    font-family: 'Verdana', 'Dejavu San','sans-serif';
}
#blue{
    color: blue;
    font-size: 36px;
}
.number3{
    font-size: 24px;
}
#number4{
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}